/* h1 {
  color: blue;
  /* text-decoration: line-through; 
  background-color: yellow;
}
body {
  background-color: pink;
}
button {
  background-color: aqua;
}
.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  margin: 5px;
  text-align: center;
  background-color: antiquewhite;
} */
/* #box {
  height: 200px;
  width: 100px;
  background-color: rgb(159, 127, 255);
  color: white;
  text-align: center;
  border: 2px solid red;
}
.prac {
  color: darkgreen;
}
.newclass {
  background-color: antiquewhite;
} */
